<div class="container">

<div class="row mb-4">
  <div class="col-md-12">
    <div>
    <h1>
      List of all loved ones
    </h1>
    </div>
  </div>
</div>

  <div class="row mb-4">
    <div class="col-md-6">
      <div>
        <h2>
          Add a new loved one
        </h2>

    <form action="/insert_loved_one" method="post">
      <div class="mb-3">
      <!-- <input type="hidden" name=":user_id" value=<%= :user_id %>> 
       <label for="user_id_box">
          User
        </label> !-->

        <input type="hidden" id="user_id_box" name="query_user_id" class="form-control">
      </div>

      <div class="mb-3">
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" class="form-control">
      </div>

      <div class="mb-3">
        <label for="relationship_box" class="form-label">
          Relationship
        </label>

        <input type="text" id="relationship_box" name="query_relationship" class="form-control">
      </div>

      <!--
      <div>
        <label for="occasions_count_box">
          Occasions count
        </label>

        <input type="text" id="occasions_count_box" name="query_occasions_count">
      </div>

      <div>
        <label for="gifts_count_box">
          Gifts count
        </label>

        <input type="text" id="gifts_count_box" name="query_gifts_count">
      </div>
    !-->
    <div class="d-grid">
      <button class="btn btn-primary">
        Create loved one
      </button>
      </div>

    </form>
  </div>
</div>
</div>
</div>

<hr>

<hr>
<div>
  <div>
    <table class="table">
      <tr>

        <th>
          User
        </th>

        <th>
          Name
        </th>

        <th>
          Relationship
        </th>

        <th>
          Occasions count
        </th>

        <th>
          Gifts count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>
      

      <% @list_of_loved_ones.each do |a_loved_one| %>
      <tr>

        <td>
          <%= a_loved_one.user.username %>
        </td>

        <td>
          <%= a_loved_one.name %>
        </td>

        <td>
          <%= a_loved_one.relationship %>
        </td>

        <td>
          <%= a_loved_one.occasions_count %>
        </td>

        <td>
          <%= a_loved_one.gifts_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_loved_one.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_loved_one.updated_at) %> ago
        </td>

        <td>
          <a href="/loved_ones/<%= a_loved_one.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
