<div>
  <div>
    <h1>
      List of all gifts
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new gift
    </h2>

    <form action="/insert_gift" method="post">
        <div>

       
        <label for="name_box">
          Occasion name
        </label>

        <select id="occasion_name_box" name="query_occasion_name">
          <option value="birthday">Birthday</option>
          <option value="anniversary">Anniversary</option>
          <option value="christmas">Christmas</option>
          <option value="mothers_day">Mother's Day</option>
          <option value="fathers_day">Father's Day</option>
          <option value="wedding">Wedding</option>
          <option value="baptism">Baptism</option>
          <option value="graduation">Graduation</option>
          <option value="valentines_day">Valentines Day</option>
          <option value="other">Other</option>
        </select>
      </div>

      <!-- <div>
        <label for="user_id_box">
          User <%= @current_user.username %>
        </label>

        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @current_user.username %>">
      </div> !-->

      <div>
       <label for="loved_one_name_box">
          Loved one name
        </label>

         <% @list_of_loved_ones.each do |loves| %>
        <select id="name_box" name="query_name">
            <option value="<%=loves.id%>"><%=loves.name%></option>
        </select>
        <% end %>
      <div>

      <div>
        <label for="note_box">
          Gift Ideas
        </label>

        <textarea id="note_box" name="query_note" rows="3"></textarea>
      </div>

      <button>
        Create gift
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Occasion
        </th>

        <th>
          User
        </th>

        <th>
          Gift Ideas
        </th>

        <th>
          Loved one
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_gifts.each do |a_gift| %>
      <tr>

        <td>
          <%= a_gift.occasion.name %>
        </td>

        <td>
          <%= a_gift.user.username %>
        </td>

        <td>
          <%= a_gift.note %>
        </td>

        <td>
          <%= a_gift.loved_one.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_gift.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_gift.updated_at) %> ago
        </td>

        <td>
          <a href="/gifts/<%= a_gift.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
