<div>
  <div>
    <h1>
      List of all gifts
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new gift
    </h2>

    <form action="/insert_gift" method="post">
        <div>
        <label for="user_id_box">
        <%= @current_user.username %>
        </label>

        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @current_user.id %>">
        
      </div>
       <div>
       <label for="loved_one_name_box">
          Loved one name
        </label>

      <div>
        <select id="name_box" name="query_loved_one_id">
          <% @list_of_loved_ones.each do |love| %>
            <option value="<%= love.id %>"><%= love.name %></option>
          <% end %>
        </select>
      </div>
      
     <!-- <div>
        <% @list_of_loved_ones.each do |love| %>
          <input name="query_loved_one_id" type="hidden" value="<%= love.id %>">
        <% end %>
      </div> !-->

      <div> 
      
        <label for="name_box">
          Occasion name
        </label>

        <select id="occasion_name_box" name="query_occasion_id">
         <% @list_of_occasions.each do |occasion| %>
          <option value="<%= occasion.id %>"> <%= occasion.name %> </option>
          <% end %>
        </select>
      </div>

      <div>
        <label for="note_box">
          Gift Ideas
        </label>

        <textarea id="note_box" name="query_note" rows="3"></textarea>
      </div>

      <button>
        Create gift
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Occasion
        </th>

        <th>
          User
        </th>

        <th>
          Gift Ideas
        </th>

        <th>
          Loved one
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_gifts.each do |a_gift| %>
      <tr>

        <td>
          <%= a_gift.occasion.name %>
        </td>

        <td>
          <%= a_gift.user.username %>
        </td>

        <td>
          <%= a_gift.note %>
        </td>

        <td>
          <%= a_gift.loved_one.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_gift.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_gift.updated_at) %> ago
        </td>

        <td>
          <a href="/gifts/<%= a_gift.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
