<div class="container">

  <div class="row mb-4">
    <div class="col-md-12">
      <div>
        <h1>
          All your occasions
        </h1>
      </div>
    </div>
  </div>
  
  <div class="row mb-4">
    <div class="col-md-6">
      <div>
        <h2>
          Add a new occasion
        </h2>

        <form action="/insert_occasion" method="post">
          <div class="mb-3">
            <label for="user_id_box" class="form-label">
              <%= @current_user.username %>
            </label>

            <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @current_user.username %>" class="form-control">

          </div>

          <div class="mb-3">
            <label for="loved_one_name_box" class="form-label">
              Loved one name
            </label>

            <select id="name_box" name="query_loved_one_id" class="form-control">
              <% @list_of_loved_ones.each do |love| %>
                <option value="<%= love.id %>"><%= love.name %></option>
              <% end %>
            </select>
          </div>

          <div class="mb-3">

            <label for="name_box" class="form-label">
              Occasion name
            </label>

            <select id="occasion_name_box" name="query_occasion_name" class="form-control">
              <option>Birthday</option>
              <option>Anniversary</option>
              <option>Christmas</option>
              <option>Mother's Day</option>
              <option>Father's Day</option>
              <option>Wedding</option>
              <option>Baptism</option>
              <option>Graduation</option>
              <option>Valentines Day</option>
              <option>Other</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="date_box" class="form-label">
              Date
            </label>

            <input type="date" id="date_box" name="query_date" class="form-control">
          </div>

          <!-- <div>
        <label for="gifts_count_box">
          Gifts count
        </label>

        <input type="text" id="gifts_count_box" name="query_gifts_count">
      </div> !-->

          <div class="d-grid">
          <button class="btn btn-primary">
            Create occasion
          </button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>

<hr>

<hr>
<div>
  <div>
    <table class="table">
      <tr>

        <th>
          User
        </th>

        <th>
          Loved one
        </th>

        <th>
          Occasion
        </th>

        <th>
          Date
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_occasions.each do |an_occasion| %>
        <tr>

          <td>
            <%= an_occasion.user.username %>
          </td>

          <td>
            <%= an_occasion.loved_one.name %>
          </td>

          <td>
            <%= an_occasion.name %>
          </td>

          <td>
            <%= an_occasion.date %>
          </td>

          <!--  <td>
          <%= an_occasion.gifts_count %>
        </td> !-->

          <td>
            <%= time_ago_in_words(an_occasion.created_at) %> ago
          </td>
          <td>
            <%= time_ago_in_words(an_occasion.updated_at) %> ago
          </td>

          <td>
            <a href="/occasions/<%= an_occasion.id %>">
              Show details
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
