<div>
  <div>
    <h1>
     <%= @the_occasion.loved_one.name %>'s <%= @the_occasion.name %> details
    </h1>

    <div>
      <div>
        <a href="/occasions">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_occasion/<%= @the_occasion.id %>">
          Delete occasion
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_occasion.user.username %>
      </dd>

      <dt>
        Loved one
      </dt>
      <dd>
        <%= @the_occasion.loved_one.name %>
      </dd>

      <dt>
        Occasion
      </dt>
      <dd>
        <%= @the_occasion.name %>
      </dd>

      <dt>
        Date
      </dt>
      <dd>
        <%= @the_occasion.date %>
      </dd>

    <!--  <dt>
        Gifts count
      </dt>
      <dd>
        <%= @the_occasion.gifts_count %>
      </dd> !-->

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_occasion.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_occasion.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit occasion
    </h2>

    <form action="/modify_occasion/<%= @the_occasion.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User <%= @current_user.username %>
        </label>

        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @the_occasion.user_id %>">
      </div>

      <div>
       <label for="name_box">
       Loved One
       </label>

        <select id="name_box" name="query_loved_one_id">
          <% @list_of_loved_ones.each do |love| %>
            <option value="<%= love.id %>"><%= love.name %></option>
          <% end %>
        </select>
      </div>
      
     <!-- <div>
        <% @list_of_loved_ones.each do |love| %>
          <input name="query_loved_one_id" type="hidden" value="<%= love.id %>">
        <% end %>
      </div> !-->

         <label for="name_box">
          Occasion name
        </label>

        <select id="occasion_name_box" name="query_occasion_name">
          <option>Birthday</option>
          <option>Anniversary</option>
          <option>Christmas</option>
          <option>Mother's Day</option>
          <option>Father's Day</option>
          <option>Wedding</option>
          <option>Baptism</option>
          <option>Graduation</option>
          <option>Valentines Day</option>
          <option>Other</option>
        </select>
      </div>

      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date" value="<%= @the_occasion.date %>">
      </div>

      <!-- <div>
        <label for="gifts_count_box">
          Gifts count
        </label>

        <input type="text" id="gifts_count_box" name="query_gifts_count" value="<%= @the_occasion.gifts_count %>">
      </div> !-->

      <button>
        Update occasion
      </button>
    </form>
  </div>
</div>

<hr>
